<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AD_Cliente_Web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletLogin</display-name>
    <servlet-name>ServletLogin</servlet-name>
    <servlet-class>clientes.ServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogin</servlet-name>
    <url-pattern>/ServletLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarCotizaciones</display-name>
    <servlet-name>ServletListarCotizaciones</servlet-name>
    <servlet-class>cotizaciones.ServletListarCotizaciones</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarCotizaciones</servlet-name>
    <url-pattern>/ServletListarCotizaciones</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMostrarCot</display-name>
    <servlet-name>ServletMostrarCot</servlet-name>
    <servlet-class>cotizaciones.ServletMostrarCot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMostrarCot</servlet-name>
    <url-pattern>/ServletMostrarCot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGetCotizacion</display-name>
    <servlet-name>ServletGetCotizacion</servlet-name>
    <servlet-class>cotizaciones.ServletGetCotizacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGetCotizacion</servlet-name>
    <url-pattern>/ServletGetCotizacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAceptarCot</display-name>
    <servlet-name>ServletAceptarCot</servlet-name>
    <servlet-class>cotizaciones.ServletAceptarCot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAceptarCot</servlet-name>
    <url-pattern>/ServletAceptarCot</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCrearCot</display-name>
    <servlet-name>ServletCrearCot</servlet-name>
    <servlet-class>cotizaciones.ServletCrearCot</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearCot</servlet-name>
    <url-pattern>/ServletCrearCot</url-pattern>
  </servlet-mapping>
</web-app>