USE [master]
GO
/****** Object:  Database [UADE-TP-AD-2015]    Script Date: 09/27/2015 17:29:22 ******/
if (DB_ID('UADE-TP-AD-2015') != 0)
begin
	ALTER DATABASE [UADE-TP-AD-2015] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;

	DROP DATABASE [UADE-TP-AD-2015];
end
go
CREATE DATABASE [UADE-TP-AD-2015] 
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UADE-TP-AD-2015].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [UADE-TP-AD-2015]
GO
/****** Object:  Table [dbo].[Bultos]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bultos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idOVenta] [int] NULL,
	[Estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Bultos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

USE [UADE-TP-AD-2015]
GO

INSERT INTO OVenta VALUES ('Oficina de Venta 1', 'Direccion Oficina de Venta 1')
INSERT INTO OVenta VALUES ('Oficina de Venta 2', 'Direccion Oficina de Venta 2')
INSERT INTO [ComparativaPrecios] VALUES (getdate())
INSERT INTO [dbo].[Rodamiento] VALUES ('SKF001', 'TipoRodamiento1', 10, 100)
INSERT INTO [dbo].[Rodamiento] VALUES ('SKF002', 'TipoRodamiento2', 3, 50)
INSERT INTO [dbo].[Rodamiento] VALUES ('SKF003', 'TipoRodamiento3', 8, 80)

INSERT INTO [dbo].[Proveedor] VALUES ('Proveedor A', 'Direccion Proveedor 1')
INSERT INTO [dbo].[Proveedor] VALUES ('Proveedor B', 'Direccion Proveedor 2')
INSERT INTO [dbo].[Proveedor] VALUES ('Proveedor C', 'Direccion Proveedor 3')
INSERT INTO [dbo].[ItemProveedor] VALUES ('1','ABCD1','100.00','Descuento 10% comprando más de 100 unidades','1','SKF001')
INSERT INTO [dbo].[ItemProveedor] VALUES ('1','ABCD2','160.00','N/A','1','SKF002')
INSERT INTO [dbo].[ItemProveedor] VALUES ('2','EFGH1','110.00','Descuento 15% comprando más de 50 unidades','1','SKF001')
INSERT INTO [dbo].[ItemsComparativa] VALUES (1, 'SKF001',1)
INSERT INTO [dbo].[ItemsComparativa] VALUES (1, 'SKF002',4)

GO

INSERT INTO CLIENTE VALUES('Veronica Fernandez', 'Diagonal Norte 777', 1, 0)
INSERT INTO CLIENTE VALUES('Gabriel Cava', 'Gurruchaga 410', 1, 0)
INSERT INTO CLIENTE VALUES('Gustavo Yauny', 'Uruguay 1834', 2, 0)
insert into [dbo].[Cotizacion] VALUES ('Pendiente', getdate(), 1)
insert into [dbo].[Cotizacion] VALUES ('Armada', getdate(), 2)
insert into [dbo].[Cotizacion] VALUES ('Aceptada', getdate(), 3)
INSERT INTO Bultos VALUES(1, 'Abierto')
INSERT INTO Bultos VALUES(1, 'Abierto')
INSERT INTO Bultos VALUES(1, 'Abierto')
insert into [dbo].[Envio] VALUES (1, getdate(), 1) 
insert into [dbo].[Envio] VALUES (2, getdate(), 1) 
insert into [dbo].[Envio] VALUES (4, getdate(), 2) 
INSERT INTO [dbo].[FormaPago] VALUES (1, 'Credito', 5, 12, 25, 1)
INSERT INTO [dbo].[FormaPago] VALUES (2, 'Credito', 7, 12, 31, 1)
INSERT INTO [dbo].[FormaPago] VALUES (1, 'Efectivo', 25, 0, 25, 1)
insert into dbo.Remito VALUES (getdate(), 1)
insert into dbo.Remito VALUES (getdate(), 1)
insert into dbo.Remito VALUES (getdate(), 1)

GO

INSERT INTO [dbo].[ItemBultos] values (1, 'SKF001', 10)
INSERT INTO [dbo].[ItemBultos] values (1, 'SKF002', 5)
INSERT INTO [dbo].[ItemBultos] values (1, 'SKF003', 2)
INSERT INTO [dbo].[ItemCotizacion] VALUES (1, 'SKF001', 10, null, 0)
INSERT INTO [dbo].[ItemCotizacion] VALUES (1, 'SKF002', 4, null, 0)
INSERT INTO [dbo].[ItemCotizacion] VALUES (2, 'SKF001', 12, 1, 1)
INSERT INTO [dbo].[ItemEnvio] VALUES (1, 1, 'SKF001', 10)
INSERT INTO [dbo].[ItemEnvio] VALUES (2, 1, 'SKF002', 5)
INSERT INTO [dbo].[ItemEnvio] VALUES (3, 1, 'SKF003', 10)
INSERT INTO [dbo].[OCProveedor] VALUES (1, 1, 'Abierta')
INSERT INTO [dbo].[OCProveedor] VALUES (2, 1, 'Abierta')
INSERT INTO [dbo].[OCProveedor] VALUES (3, 2, 'Abierta')
INSERT INTO Clientes_Formas VALUES (1,1)
INSERT INTO Clientes_Formas VALUES (1,2)
INSERT INTO Clientes_Formas VALUES (2,1)

GO

INSERT INTO dbo.PedidoVenta VALUES (1, 3,'Pendiente')
INSERT INTO dbo.PedidoVenta VALUES (2, 4,'Cerrado')
INSERT INTO [dbo].[ItemPedVenta] VALUES (1, 5, 0)
INSERT INTO [dbo].[ItemPedVenta] VALUES (1, 6, 0)
INSERT INTO [dbo].[ItemPedVenta] VALUES (1, 7, 0)
insert into  [dbo].[ItemOCProveedor] values (1,'SKF001',10)
insert into  [dbo].[ItemOCProveedor] values (2,'SKF002',10)
insert into  [dbo].[ItemOCProveedor] values (2,'SKF003',10)
INSERT INTO ItemRemito VALUES ('SKF001', 10, 1)
INSERT INTO ItemRemito VALUES ('SKF002', 2, 2)
INSERT INTO ItemRemito VALUES ('SKF003', 4, 1)

GO

/****** Object:  Table [dbo].[Cliente]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
	[idOVenta] [int] NOT NULL,
	[inactivo] [bit] NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Clientes_Formas]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes_Formas](
	[idCliente] [int] NOT NULL,
	[idForma] [int] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ComparativaPrecios]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ComparativaPrecios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
 CONSTRAINT [pk_comparativa] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

CREATE TABLE [dbo].[ItemsComparativa](
	[id] [int] NOT NULL,
	[codigoSKF] [varchar](50) NOT NULL,
	[idItemProveedor] [int] NOT NULL,
CONSTRAINT [pk_itemcomparativa] PRIMARY KEY CLUSTERED 
(
	[id] ASC,
	[codigoSKF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cotizacion]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[estado] [varchar](50) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[idCliente] [int] NOT NULL,
 CONSTRAINT [PK_Cotizacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Envio]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Envio](
	[idCliente] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[idOVenta] [int] NOT NULL,
 CONSTRAINT [PK_Envio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[FormaPago]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FormaPago](
	[idOVenta] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](50) NOT NULL,
	[porcentaje] [float] NOT NULL,
	[cuotas] [int] NOT NULL,
	[dias] [int] NOT NULL,
	[activa] [bit] NOT NULL,
 CONSTRAINT [PK_FormaPago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemBultos]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[ItemBultos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idBulto] [int] NOT NULL,
	[codigoSKF] [varchar](50) NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_ItemBultos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemCotizacion]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemCotizacion](
	[id] [INT] IDENTITY(1,1) NOT NULL,
	[idCotizacion] [int] NOT NULL,
	[codigoSKF] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[idItemProveedor] [int],
	[cotizado] [bit] NOT NULL
 CONSTRAINT [PK_ItemCotizacion] PRIMARY KEY CLUSTERED 
(
	id ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemEnvio]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemEnvio](
	[id] [int] NOT NULL,
	[idEnvio] [int] NOT NULL,
	[codigoSKF] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_ItemEnvio] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemOCProveedor]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemOCProveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idOCProveedor] [int] NOT NULL,
	[codigoSKF] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
 CONSTRAINT [PK_ItemOCProveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemPedVenta]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPedVenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPedidoVenta] [int] NOT NULL,
	[idItemCotizacion] [int] NOT NULL,
	[cantRecibida] [int] NULL
 CONSTRAINT [PK_ItemPedVenta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ItemProveedor]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ItemProveedor](
	[id] [int] NOT NULL identity(1,1),
	[codigoProveedor] [int] NOT NULL,
	[codigo] [varchar](50) NOT NULL,
	[precio] [float] NOT NULL,
	[condiciones] [varchar](50) NOT NULL,
	[disponible] [bit] NOT NULL,
	[codigoSKF] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ItemProveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ItemRemito]    Script Date: 11/21/2015 5:28:04 PM ******/
CREATE TABLE [dbo].[ItemRemito](
	[codigoSKF] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[idIRemito] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_ItemRemito_id] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OCProveedor]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCProveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[codigoProveedor] [int] NOT NULL,
	[condCompra] [varchar](100) NULL,
	[estado] [varchar](50) NOT NULL
 CONSTRAINT [PK_OCProveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OVenta]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OVenta](
	[id] [int] IDENTITY (1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[direccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_OVenta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PedidoVenta]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoVenta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idOVenta] [int] NOT NULL,
	[idCotizacion] [int] NOT NULL,
	[estado] [varchar](50) NOT NULL
 CONSTRAINT [PK_PedidoVenta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[codigoProveedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[direccion] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[codigoProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Remito]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remito](
	[fecha] [datetime] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idOVenta] [int] NOT NULL,
 CONSTRAINT [PK_Remito] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rodamiento]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rodamiento](
	[codigoSKF] [varchar](50) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL
 CONSTRAINT [PK_Rodamiento] PRIMARY KEY CLUSTERED 
(
	[codigoSKF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mensajes]    Script Date: 11/21/2015 5:28:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Mensajes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idCliente] [int] NOT NULL,
	[texto] [varchar](200) NOT NULL,
 CONSTRAINT [PK_Mensajes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

ALTER TABLE [dbo].[Bultos]  WITH CHECK ADD  CONSTRAINT [FK_Bulto_OVenta] FOREIGN KEY([idOVenta])
REFERENCES [dbo].[OVenta] ([id])
GO
ALTER TABLE [dbo].[Bultos] CHECK CONSTRAINT [FK_Bulto_OVenta]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_OVenta] FOREIGN KEY([idOVenta])
REFERENCES [dbo].[OVenta] ([id])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_OVenta]
GO
ALTER TABLE [dbo].[Clientes_Formas]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Formas_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Clientes_Formas] CHECK CONSTRAINT [FK_Clientes_Formas_Cliente]
GO
ALTER TABLE [dbo].[Clientes_Formas]  WITH CHECK ADD  CONSTRAINT [FK_Clientes_Formas_FormaPago] FOREIGN KEY([idForma])
REFERENCES [dbo].[FormaPago] ([id])
GO
ALTER TABLE [dbo].[Clientes_Formas] CHECK CONSTRAINT [FK_Clientes_Formas_FormaPago]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_Cliente]
GO
ALTER TABLE [dbo].[Envio]  WITH CHECK ADD  CONSTRAINT [FK_Envio_OVenta] FOREIGN KEY([idOVenta])
REFERENCES [dbo].[OVenta] ([id])
GO
ALTER TABLE [dbo].[Envio] CHECK CONSTRAINT [FK_Envio_OVenta]
GO
ALTER TABLE [dbo].[FormaPago]  WITH CHECK ADD  CONSTRAINT [FK_FormaPago_OVenta] FOREIGN KEY([idOVenta])
REFERENCES [dbo].[OVenta] ([id])
GO
ALTER TABLE [dbo].[FormaPago] CHECK CONSTRAINT [FK_FormaPago_OVenta]
GO
ALTER TABLE [dbo].[ItemBultos]  WITH CHECK ADD  CONSTRAINT [FK_ItemBultos_Bulto] FOREIGN KEY([idBulto])
REFERENCES [dbo].[Bultos] ([id])
GO
ALTER TABLE [dbo].[ItemBultos] CHECK CONSTRAINT [FK_ItemBultos_Bulto]
GO
ALTER TABLE [dbo].[ItemBultos]  WITH CHECK ADD  CONSTRAINT [FK_ItemBultos_Rodamiento] FOREIGN KEY([codigoSKF])
REFERENCES [dbo].[Rodamiento] ([codigoSKF])
GO
ALTER TABLE [dbo].[ItemBultos] CHECK CONSTRAINT [FK_ItemBultos_Rodamiento]
GO
ALTER TABLE [dbo].[ItemCotizacion]  WITH CHECK ADD  CONSTRAINT [FK_ItemCotizacion_Cotizacion] FOREIGN KEY([idCotizacion])
REFERENCES [dbo].[Cotizacion] ([id])
GO
ALTER TABLE [dbo].[ItemCotizacion] CHECK CONSTRAINT [FK_ItemCotizacion_Cotizacion]
GO
ALTER TABLE [dbo].[ItemCotizacion]  WITH CHECK ADD  CONSTRAINT [FK_ItemCotizacion_Rodamiento] FOREIGN KEY([codigoSKF])
REFERENCES [dbo].[Rodamiento] ([codigoSKF])
GO
ALTER TABLE [dbo].[ItemCotizacion] CHECK CONSTRAINT [FK_ItemCotizacion_Rodamiento]
GO
ALTER TABLE [dbo].[ItemCotizacion]  WITH CHECK ADD  CONSTRAINT [FK_ItemCotizacion_ItemProveedor] FOREIGN KEY([idItemProveedor])
REFERENCES [dbo].[ItemProveedor] ([id])
GO
ALTER TABLE [dbo].[ItemCotizacion] CHECK CONSTRAINT [FK_ItemCotizacion_ItemProveedor]
GO
ALTER TABLE [dbo].[ItemEnvio]  WITH CHECK ADD  CONSTRAINT [FK_ItemEnvio_Envio] FOREIGN KEY([idEnvio])
REFERENCES [dbo].[Envio] ([id])
GO
ALTER TABLE [dbo].[ItemEnvio] CHECK CONSTRAINT [FK_ItemEnvio_Envio]
GO
ALTER TABLE [dbo].[ItemEnvio]  WITH CHECK ADD  CONSTRAINT [FK_ItemEnvio_Rodamiento] FOREIGN KEY([codigoSKF])
REFERENCES [dbo].[Rodamiento] ([codigoSKF])
GO
ALTER TABLE [dbo].[ItemEnvio] CHECK CONSTRAINT [FK_ItemEnvio_Rodamiento]
GO
ALTER TABLE [dbo].[ItemOCProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ItemOCProveedor_OCProveedor] FOREIGN KEY([idOCProveedor])
REFERENCES [dbo].[OCProveedor] ([id])
GO
ALTER TABLE [dbo].[ItemOCProveedor] CHECK CONSTRAINT [FK_ItemOCProveedor_OCProveedor]
GO
ALTER TABLE [dbo].[ItemOCProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ItemOCProveedor_Rodamiento] FOREIGN KEY([codigoSKF])
REFERENCES [dbo].[Rodamiento] ([codigoSKF])
GO
ALTER TABLE [dbo].[ItemOCProveedor] CHECK CONSTRAINT [FK_ItemOCProveedor_Rodamiento]
GO
ALTER TABLE [dbo].[ItemPedVenta]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedVenta_PedidoVenta] FOREIGN KEY([idPedidoVenta])
REFERENCES [dbo].[PedidoVenta] ([id])
GO
ALTER TABLE [dbo].[ItemPedVenta] CHECK CONSTRAINT [FK_ItemPedVenta_PedidoVenta]
GO
ALTER TABLE [dbo].[ItemPedVenta]  WITH CHECK ADD  CONSTRAINT [FK_ItemPedVenta_ItemCotizacion] FOREIGN KEY([idItemCotizacion])
REFERENCES [dbo].[ItemCotizacion] ([id])
GO
ALTER TABLE [dbo].[ItemPedVenta] CHECK CONSTRAINT [FK_ItemPedVenta_ItemCotizacion]
GO
ALTER TABLE [dbo].[ItemProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ItemProveedor_Proveedor] FOREIGN KEY([codigoProveedor])
REFERENCES [dbo].[Proveedor] ([codigoProveedor])
GO
ALTER TABLE [dbo].[ItemProveedor] CHECK CONSTRAINT [FK_ItemProveedor_Proveedor]
GO
ALTER TABLE [dbo].[ItemProveedor]  WITH CHECK ADD  CONSTRAINT [FK_ItemProveedor_Rodamiento] FOREIGN KEY([codigoSKF])
REFERENCES [dbo].[Rodamiento] ([codigoSKF])
GO
ALTER TABLE [dbo].[ItemProveedor] CHECK CONSTRAINT [FK_ItemProveedor_Rodamiento]
GO
ALTER TABLE [dbo].[ItemRemito]  WITH CHECK ADD  CONSTRAINT [FK_ItemRemito_Remito] FOREIGN KEY([idIRemito])
REFERENCES [dbo].[Remito] ([id])
GO
ALTER TABLE [dbo].[ItemRemito] CHECK CONSTRAINT [FK_ItemRemito_Remito]
GO
ALTER TABLE [dbo].[ItemRemito]  WITH CHECK ADD  CONSTRAINT [FK_ItemRemito_Rodamiento] FOREIGN KEY([codigoSKF])
REFERENCES [dbo].[Rodamiento] ([codigoSKF])
GO
ALTER TABLE [dbo].[ItemRemito] CHECK CONSTRAINT [FK_ItemRemito_Rodamiento]
GO
ALTER TABLE [dbo].[OCProveedor]  WITH CHECK ADD  CONSTRAINT [FK_OCProveedor_Proveedor] FOREIGN KEY([codigoProveedor])
REFERENCES [dbo].[Proveedor] ([codigoProveedor])
GO
ALTER TABLE [dbo].[OCProveedor] CHECK CONSTRAINT [FK_OCProveedor_Proveedor]
GO
ALTER TABLE [dbo].[PedidoVenta]  WITH CHECK ADD  CONSTRAINT [FK_PedidoVenta_OVenta] FOREIGN KEY([idOVenta])
REFERENCES [dbo].[OVenta] ([id])
GO
ALTER TABLE [dbo].[PedidoVenta] CHECK CONSTRAINT [FK_PedidoVenta_OVenta]
GO
ALTER TABLE [dbo].[PedidoVenta]  WITH CHECK ADD  CONSTRAINT [FK_PedidoVenta_Cotizacion] FOREIGN KEY([idCotizacion])
REFERENCES [dbo].[Cotizacion] ([id])
GO
ALTER TABLE [dbo].[PedidoVenta] CHECK CONSTRAINT [FK_PedidoVenta_Cotizacion]
GO
ALTER TABLE [dbo].[Remito]  WITH CHECK ADD  CONSTRAINT [FK_Remito_OVenta] FOREIGN KEY([idOVenta])
REFERENCES [dbo].[OVenta] ([id])
GO
ALTER TABLE [dbo].[Remito] CHECK CONSTRAINT [FK_Remito_OVenta]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_Cotizacion_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[ItemsComparativa]  WITH CHECK ADD  CONSTRAINT [fk_comparativa_itemcomparativa] FOREIGN KEY([id])
REFERENCES [dbo].[ComparativaPrecios] ([id])
GO
ALTER TABLE [dbo].[ItemsComparativa] CHECK CONSTRAINT [fk_comparativa_itemcomparativa]
GO
ALTER TABLE [dbo].[ItemsComparativa]  WITH CHECK ADD  CONSTRAINT [fk_itemproveedor_itemcomparativa] FOREIGN KEY([idItemProveedor])
REFERENCES [dbo].[ItemProveedor] ([id])
GO
ALTER TABLE [dbo].[ItemsComparativa] CHECK CONSTRAINT [fk_itemproveedor_itemcomparativa]
GO
ALTER TABLE [dbo].[Mensajes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_mensajes] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Mensajes] CHECK CONSTRAINT [fk_cliente_mensajes]
GO
ALTER TABLE [dbo].[Cliente] ADD  DEFAULT ((0)) FOR [inactivo]
GO

